*{
    /* margin: 0px; */
}
.header-banner{
    background-image: url("../assets/images/banner/banner1.png");
    height: 690px;
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: right;
}
.header-details{
    padding: 250px 290px 0px 700px;
}
.header-title{
    margin-bottom: 30px;
    padding: 0px 20px 0px 300px;
    font-size: 30px;
    font-weight:bolder;
}
.header-description{
    margin-bottom: 30px;
    padding: 0px 20px 0px 100px;
    color:#5F697E ;
}
.primary-btn{
    height: 80px;
    width: 150px;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    background-color: #F15B22;
}
.previous-part{
    display: flex;
    align-items: center; 
    margin: 50px 130px 10px 100px;
    height: 700px;
    
}
.previous-part-details{
    margin-left: 50px;
}
.previous-part-title{
    margin-bottom: 10px;
}
.previous-part-descripntion{
    margin-bottom: 10px;
    color:#5F697E ;
}
.previous-part-list-iteam{
    color:#5F697E ;
}
.plan-about{
    text-align: center;

}
